@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
}
html{
    font-size: 62.5%;
}


body{
    width: 100%;
    height: auto;
    background-color:white;
    overflow-x:hidden;

}
header{
    margin-top: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding: 1 rem 9%;
    background-color:maroon;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;


}
.header-img{
    height: 100px;
}


::-webkit-scrollbar
{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb{
    background: #b74b4b;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover{
    background: #b74b4b;
}

.logo{
    color: rgb(224, 224, 224);
    font-size:3rem;
    font-weight: 800;
    cursor: pointer;
    transition:0.5s ease;

    
}
.logo:hover{
    transform:scale(1.1);
}


.hamburg,
.cancel{
    cursor: pointer;
    position:absolute;
    right:15px;
    top:10px;
    color:white;
    opacity: 0;
    pointer-events: none;
    font-size:clamp(2.5rem,0.5rem + 5vw,3rem);

}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight:500;
    transition:0.3s ease;
    border-bottom: 3px solid transparent;

}
section{
    min-height:100vh;
    padding: 5rem 9% 5rem
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:brown;
}
span{
    color: aqua;
}
.home .home-content h1{
    font-size:6rem;
    font-weight: 700;
    line-height:1.3;

}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 1rem;
    font-weight: 700;
}
.home-img{
    border-radius:50%;
}
.home-img img{
    position:relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid aqua;
    cursor: pointer;
    transition: 0.2s linear;

}
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height:4rem;
    background-color: transparent;
    border:0.2rem solid aqua;
    font-size: 2rem;
    border-radius:50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;
}
nav a:hover,
nav a.active{
    color: aqua;
    border-bottom: 3px solid aqua;
}
.social-icons a:hover {
    color: black;
    transform: scale(1.3) translateY(-5px); /* Fixed the spacing around scale */
    background-color: aqua; /* Ensure the element has a background color on hover */
    box-shadow: 0 0 25px aqua; /* This is fine */
    transition: all 0.3s ease; /* Added transition for smoother effect */
}

.btn{

}
